language: objective-c  

sudo: false # Explicitly use container-based infrastructure http://docs.travis-ci.com/user/workers/container-based-infrastructure/

osx_image: xcode7

env:
    matrix:
        - TEST_TASK=testLTRCurrentOS IOS_VERSION=9.0
        - TEST_TASK=testRTLCurrentOS IOS_VERSION=9.0
        - TEST_TASK=testLTRPreviousOS IOS_VERSION=8.4
        - TEST_TASK=testRTLPreviousOS IOS_VERSION=8.4

script:
    - instruments -s devices | grep "iPhone 5s (${IOS_VERSION}" | awk -F '[\[]' '{print $2}' | sed 's/.$//' | xargs open -a "simulator" --args -CurrentDeviceUDID
    - set -o pipefail && ./gradlew -q $TEST_TASK | xcpretty -c

after_success:
    - bash <(curl -s https://codecov.io/bash)

branches:
    only:
        - master

notifications:
  email: true
