language: objective-c  

osx_image: xcode11.2
before_script:
        - rvm get head || true # https://github.com/travis-ci/travis-ci/issues/6307

env:
    matrix:
        - TEST_TASK=testLTRCurrentOS IOS_VERSION=13.3
        - TEST_TASK=testRTLCurrentOS IOS_VERSION=13.3
        - TEST_TASK=testLTRPreviousOS IOS_VERSION=12.4
        - TEST_TASK=testRTLPreviousOS IOS_VERSION=12.4

script:
    - instruments -s devices | grep "iPhone 8 (${IOS_VERSION}" | awk -F '[\[]' '{print $2}' | sed 's/.$//' | xargs open -a /Applications/Xcode.app/Contents/Developer/Applications/Simulator.app --args -CurrentDeviceUDID
    - set -o pipefail
    - travis_retry ./gradlew -q $TEST_TASK | xcpretty -c

after_success:
    - bash <(curl -s https://codecov.io/bash)

branches:
    only:
        - master

notifications:
  email: true
