diff --git a/script/export-options.plist b/script/export-options.plist
new file mode 100644
index 0000000..4de6c55
--- /dev/null
+++ b/script/export-options.plist
@@ -0,0 +1,8 @@
+<?xml version="1.0" encoding="UTF-8"?>
+<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
+<plist version="1.0">
+<dict>
+    <key>method</key>
+    <string>app-store</string>
+</dict>
+</plist>
