<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>454051494266-vcj1l70p3d8r13od90m4gdsknn6jsttd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.454051494266-vcj1l70p3d8r13od90m4gdsknn6jsttd</string>
	<key>API_KEY</key>
	<string>AIzaSyAp9_mHsn1e_n_pypYQB_w1Py93TGH6GPs</string>
	<key>GCM_SENDER_ID</key>
	<string>454051494266</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.edx.mobile</string>
	<key>PROJECT_ID</key>
	<string>test-project-4562b</string>
	<key>STORAGE_BUCKET</key>
	<string>test-project-4562b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:454051494266:ios:c04089bb49270266</string>
	<key>DATABASE_URL</key>
	<string>https://test-project-4562b.firebaseio.com</string>
	<key>FIREBASE_ANALYTICS_COLLECTION_ENABLED</key>
	<false/>
</dict>
</plist>
